:root{
    --body-color: #e6e9e9;
    --header-color: #0D9FD9;
    --border-color: #7e7e7e;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    background-color: var(--body-color);
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 15vh;
    background-color: var(--header-color);
    padding: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}

header p{
    font-size: 1.5em;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1em;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25vh;
    margin-bottom: 10vh;
}

.containerFilters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 5em;
    margin-bottom: 2.5rem;
}

.filterStyle{
    width: 50%;
    padding: 1em;
}

.filterStyle select{
    border-radius: 1em;
    width: 100%;
    border-style: none;
    border-color: var(--border-color);
    height: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.filterStyle select:hover{
    cursor: pointer;
}

.containerProduct {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-items: center;
    max-width: 1200px;
    height: 100%;
}

.containerInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

.productCard{
    width: 90%;
    height: 100vh; 
    max-height: 100vh; 
    padding: 1em;
    border-radius: 1em;
    background-color: white;
    transition: .2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.containerImage{
    width: 100%;
    max-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImage img{
    width: 250px;
}

.containerTitle p{
    font-size: .8em;
}

.containerPriceFull span{
    font-size: .8em;
    text-decoration: line-through;
    color: var(--border-color);
}

.containerPriceFinal{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.containerPriceFinal p{
    font-size: 1.2em;
    font-weight: 500;
}

.containerPriceFinal span{
    font-size: .8em;
    margin-left: .8em;
    color: var(--header-color);

}

.containerQuantitysIntalments{
    font-size: .9em;
    color: var(--header-color);
}

.containerTypeShip{
    font-size: .9em;
}

.containerShipFree{
    color: var(--header-color);
    font-size: .9em;
}

.containerButtonProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.containerButtonProduct a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 80%;
    height: 3rem;
    border-radius: .5em;
    border-style: none;
    background-color: var(--header-color);
    color: white;
    margin-top: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    transition: .2s;
}

.containerButtonProduct a:hover{
    cursor: pointer;
    width: 90%;
}

.line{
    margin-bottom: .8em;
}

.anyItens{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px){
    header{
        font-size: .8rem;
    }

    .containerFilters{
        padding: 0;
    }
    
    .filterStyle{
        width: 100%;
    }

    .containerProduct {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px){
    .containerProduct {
        grid-template-columns: repeat(1, 1fr);
    }
    .productCard{
        height: unset;
        max-height: unset;
    }
    .containerInfo{
        height: 70%;
    }
}