{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo De Ofertas</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic:wght@400;700;800&family=Orbitron:wght@400..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <p>Catalogo De Ofertas</p>
    </header>
    <main>
        <div class="containerProduct">
            <!-- <div class="productCard">
                <div class="containerImage">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_773120-MLB73489476136_122023-O.webp" alt="image">
                </div>
                <div class="containerInfo">
                    <div class="line containerTitle">
                        <p>Pc Gamer Completo I7 3.4ghz 16gb Ssd 1tb 500w Gtx1650 4gb</p>
                    </div>
    
                    <div class="line containerPriceFull">
                        <span>R$100,00</span>
                    </div>
    
                    <div class="line containerPriceFinal">
                        <p>R$ 98,52</p>
                        <span>15% OFF</span>
                    </div>
    
                    <div class="line containerQuantitysIntalments">
                        <p>em 10x R$ 280,81 sem juros</p>
                    </div>
    
                    <div class="line containerTypeShip">
                        <span>Enviado pelo Full</span>
                    </div>
    
                    <div class="line containerShipFree">
                        <span>Entrega grátis</span>
                    </div>
                    <div class="line containerButtonProduct">
                        <a href="https://music.youtube.com/">Acessar Produto</a>
                    </div>
                </div>
            </div> -->
        </div>
    </main>
    <footer>
        <div></div>
    </footer>
    <script src="{% static 'index.js' %}" defer></script>
    <!-- <script src="../static/index.js" defer></script -->
</body>

</html>